.project
{

    &-card
    {
        padding: 2rem 1.6rem 1rem;
        width: 100%;
        background-color: rgba($gray,0.10);
        box-shadow: inset -3px -3px 0px $gray-2;
        // backdrop-filter: blur(4px);
        // margin-bottom: 3.2rem;
        a+p{
            margin-top: 2rem;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
        p+a{
            margin-top: .8rem;
        }
        h3{
            color: $primary;
            font-size: 2.4rem;
        }
        h3+a{
            color: $secondary;
        }
        &:hover{
            box-shadow: inset -3px -3px 0px $tertiary, 15px 20px 35px -35px $tertiary ;
        }

        .technology {
            -webkit-line-clamp: 2;
            text-overflow: clip;
        }
    }

    @media (min-width:1200px) 
    {
        margin-top: 48rem;

        .image-section
        {
            top: -234px;
            right: -120%;
        }
    }

}