$rectSizes:10,12,15,20,30,35,60;

@mixin generateRectSizes(){
    @each $size in $rectSizes {
        .rect\:s-#{$size}
        {
            width:fluidPixel($size);
            height:fluidPixel($size); 
        }
    }
}

@include generateRectSizes();